body {
  margin: 20px;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > * {
  margin-right: 1rem;
}

button,
a {
  display: inline-block;
  text-decoration: underline;
  font-family: inherit;
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: rgb(85, 26, 139);
  margin-top: 1rem;
  line-height: 1.5;
}

p > a {
  margin: 0;
}

input {
  margin-top: 1rem;
  border: none;
  background: black;
  color: white;
  font-family: inherit;
  font-size: 18px;
  padding: 0.5rem;
}

p {
  margin: 0;
  margin-top: 1rem;
}

ul {
  margin: 0;
  margin-top: 1rem;
  padding-inline-start: 1.5rem;
}

h1 {
  margin: 0;
}
